.tickerWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: $tickerWrapperBgColor;
  padding: 10px;
  z-index: 999;

  &_tickerContent {
    //animation: marqueeAnimation $tickerContentSpeedMarqueeAnimation linear infinite;
    white-space: nowrap;

    &:hover {
      animation-play-state: paused;
      cursor: pointer;
    }
  }
}
