.tickerWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: $tickerWrapperBgColor;
  padding: 10px;
  z-index: 999;

  &_tickerContent {
    width: 100%;
    animation: slidingAnimation $tickerContentSpeedSlidingAnimation linear infinite;

    &:hover {
      animation-play-state: paused;
      cursor: pointer;
    }
  }
}
