html {
  font-family: 'fanfareticker', -apple-system, sans-serif;
  font-size: 26px;

  // * {
  //   // font-family: inherit;
  // }

  body {
    background: $bodyBgColor;

    @include breakpoint(md, max) {
      margin: 0;
      padding: 0;
    }

    #root {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: toRem(16);
      align-items: center;

      @include breakpoint(md, max) {
        display: initial;
        margin: 0;
        padding: 0;
        max-width: 100%;
      }
    }
  }
}
