// Player
$playerBgColor: #fffaee;
$playerBorderColor: orange;

// Radio logo
$radioLogoBorderColor: orange;

// Timer
$timerBorderColor: #f26600;
$timerColorButton: white;

// Loading button
$playLoadingButtonColor: #f26600;
$playLoadingButtonBgColor: white;

// Play button
$playButtonColor: #f26600;
$playButtonBgColor: white;
$playButtonBgColorHover: #f26600;
$playButtonColorHover: white;
$playButtonBoxShadowColor: rgba(232, 138, 61, 0.7);

// Error
$errorColor: rgb(223, 1, 1);
$errorBgColor: rgb(250, 223, 223);

// Radio infos
$radioInfosNameColor: #f26600;
$radioInfosColor: gray;

// Volume range
$radioVolumeColorRange: rgba(255, 209, 124, 0.658);
$radioVolumeBgColorRange: #f26600;

// Radio Item
$radioItemborderColor: #bdbdbd;
$radioItemBgColor: white;
$radioItemBgHoverColor: rgb(240, 240, 240);
$radioItemBorderHoverColor: #f26600;
$radioItemHoverColor: #f26600;
$radioItemColor: #f26600;

// Body
$bodyBgColor: white;

// Theme light or night
$bodyDataFirstBgColorMdBlack: black;
$bodyDataFirstBgColorMdBlue1: #0071b3;
$bodyDataFirstBgColorMdBlue2: #006cd1;
$bodyDataSecondBgColorMdWhite: white;
$bodyDataSecondBgColorMdBlue1: #3cb7ff;
$bodyDataSecondBgColorMdBlue2: #55adff;
$lightButtonBgColor: #88d9ff;
$nightButtonBgColor: #383838;

// Border animation
$borderAnimationColorPurple: #fb0094;
$borderAnimationColorBlue: #0000ff;
$borderAnimationColorGreen: #00ff00;
$borderAnimationColorYellow: #ffff00;
$borderAnimationColorRed: #ff0000;
