// Company ISIN
$companyIsinColor: yellow;

// Company name
$companyNameColor: deepskyblue;

// Company current price
$companyCurrentPrice: white;

// Company percentage
$companyNeutralPercentColor: #ffae00;
$companyPositivePercentColor: chartreuse;
$companyNegativePercentColor: rgb(255, 72, 72);

// Ticker wrapper
$tickerWrapperBgColor: black;

// Error
$errorColor: rgb(223, 1, 1);
$errorBgColor: rgb(250, 223, 223);

// Body
$bodyBgColor: white;
